*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#container{
  display: flex;
  flex-direction: column;
}

#header{
  background-color: #444040;
  padding: 3%;
}

#menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo-obc{
  width: 17%;
}

#div-buttons{
  font-size: 16px;
  display: flex;
  padding: 6px;
  
  gap: 27px;
  color: #fff;
  
}

.buttons{
  border: 2px solid transparent;
  padding: 6px;
}

.buttons:hover{
    border-bottom: 2px solid black;
    transition: 0.5s;
}


@media (max-width: 600px){
  #menu{
    flex-direction: column;
  }

  #logo-obc{
    width: 30%;
  }

}

@media (max-width: 280px){
  #logo-obc{
    width: 50%;
  }

  .buttons{
    font-size: 15px;
  }

}