*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(34, 33, 33);
  padding: 2%;
  gap: 9px;
}

#img-rock{
  width: 3%;
}

#img-logo{
  width: 20%;
}

#div-button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px 8px;
}

.buttons{
  background-color: rgb(34, 33, 33);
  color: #fff;
  font-size: 15px;
  border: 2px solid #fefefe;
  border-radius: 7px;
  padding: 7%;
}

.buttons:hover{
  border-color: #ff0044;
  transition: 300ms;
}


@media (max-width: 731px){
  #img-rock{
    width: 7%;
  }

  #img-logo{
    width: 30%;
  }
}

@media (max-width: 490px){
  #container{
    flex-direction: column;

  }

  #img-logo{
    width: 50%;
  }

  #img-rock{
    display: none;
  }

  .buttons{
    font-size: 12px;
  }

}

@media (max-width: 360px){

  #container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  #img-rock{
    display: none;
  }

  #img-logo{
    width: 50%;
  }

  .buttons{
    font-size: 10px;
  }
}
